<html lang="en">

<body>
  <div class="full-container">
    <div class=izquierda>
      <div class="showing">
        <div id="titulo">
          <p>Resultados de busqueda para:</p>
        </div>
        <div id="search">
          <p>"{{search}}"</p>
        </div>
      </div>
      <div class="opciones">
        <div class="option-container">
          <a  (click)="mostrarUsuarios()">Usuarios</a><br>
        </div>
        <div class="option-container">
          <a>Publicaciones</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarVideoJuegos()">Videojuegos</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarClanes()">Clanes</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarSquads()">Squads</a><br>
        </div>
      </div>
    </div>
    <div class="derecha">
      <div class="results-container">
        <div class="result-category">
          <div class="encabezado">
            <p>Publicaciones</p>
          </div>
          <div class="contents">
            <div class="container mt-2 mb-3" *ngFor="let publi of post">
              <div class="row d-flex justify-content-center" *ngIf="!publi.imagen">
                <div class="col-md-8">
                  <div class="d-flex flex-row">
                  </div>
                  <div class="row news-card p-3" style="background-color: #23314a;">
                    <div class="col-md-4">
                      <div class="feed-image" style="text-align: center;">
                        <img class="news-feed-image rounded img-fluid img-responsive"
                          src={{publi.person.foto_perfil}}>
                        <h5>{{publi.person.nombre_usuario}}</h5>
                        <p style="font-size:13px;">{{publi.fecha}}</p>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="news-feed-text">
                        <h6>{{publi.contenido}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-flex justify-content-center" *ngIf="publi.imagen">
                <div class="col-md-8">
                  <div class="d-flex flex-row">
                  </div>
                  <div class="row news-card p-3" style="background-color: #23314a;">
                    <div class="col-md-4">
                      <div class="feed-image" style="text-align: center;">
                        <img class="news-feed-image rounded img-fluid img-responsive"
                          src={{publi.person.foto_perfil}}>
                        <h5>{{publi.person.nombre_usuario}}</h5>
                        <p style="font-size:13px;">{{publi.fecha}}</p>
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="news-feed-text">
                        <img class="news-feed-image rounded img-fluid img-responsive"
                          src={{publi.imagen}}>
                      </div>
                    </div>
                  </div>
                  <div class="row news-card p-3" style="background-color: #23314a;">
                    <h6>{{publi.contenido}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
