<body>
  <div class="full-container">
    <div class=izquierda>
      <div class="showing">
        <div id="titulo">
          <p>Menú de Reportes:</p>
        </div>
      </div>
      <div class="opciones">
        <div class="option-container">
          <a (click)="mostrarUsuariosReportados()">Usuarios</a><br>
        </div>
        <div class="option-container">
          <a>Publicaciones</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarVideoJuegosAdmin()">Videojuegos</a><br>
        </div>
      </div>
    </div>
    <div class="derecha">
      <div class="usuariosReportados">
        <div class="publicacionesReportadas">
          <h1>Publicaciones reportadas</h1>
          <div class="CentralFeed">
            <div class="contenedor" *ngFor="let publi of publications; index as i">
              <!--SIN IMAGEN-->
              <div class="row justify-content-center" *ngIf="!publi[4]" style="background-color: #23314a;">
                <div class="row news-card p-3">
                  <div class="col">
                    <div class="feed-imagen" style="text-align: center;">
                      <div class="imagen">
                        <img class="news-feed-image rounded img-fluid img-responsive" [src]=publi[3]>
                      </div>
                      <div>
                        <h5>{{publi[0]}}</h5>
                        <p style="font-size:13px;">
                          {{publi[2] | date: 'hh:mm a dd-MM-yyyy'}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="news-feed-text">
                      <h6>{{publi[1]}}</h6>
                    </div>
                  </div>
                  <div class="botones">
                    <button (click)="deletePost(publi[5])" class="btn">
                      Eliminar
                    </button>
                    <button (click)="discardDeletePost(publi[5])" class="btn">
                      Descartar
                    </button>
                  </div>
                </div>
              </div>
              <!--CON IMAGEN-->
              <div class=" justify-content-center" *ngIf="publi[4]">
                <div class="row news-card p-8" style="background-color: #23314a;">
                  <div class="col">
                    <div class="feed-imagen" style="text-align: center;">
                      <div class="imagen">
                        <img class="news-feed-image rounded img-fluid img-responsive" [src]=publi[3]>
                      </div>
                      <div>
                        <h5>{{publi[0]}}</h5>
                        <p style="font-size:13px;">
                          {{publi[2] | date: 'hh:mm a dd-MM-yyyy'}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="news-feed-text texto">
                      <h6>{{publi[1]}}</h6>
                    </div>
                    <div class="imagen-extra">
                      <img [src]=publi[4]>
                    </div>
                  </div>
                  <div class="botones">
                    <button (click)="deletePost(publi[5])" class="btn">
                      Eliminar
                    </button>
                    <button (click)="discardDeletePost(publi[5])" class="btn">
                      Descartar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
