<html lang="en">

<body>
  <div class="full-container">
    <div class=izquierda>
      <div class="showing">
        <div id="titulo">
          <p>Resultados de busqueda para:</p>
        </div>
        <div id="search">
          <p>"{{search}}"</p>
        </div>
      </div>
      <div class="opciones">
        <div class="option-container">
          <a  (click)="mostrarUsuarios()">Usuarios</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarPublicaciones()">Publicaciones</a><br>
        </div>
        <div class="option-container">
          <a>Videojuegos</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarClanes()">Clanes</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarSquads()">Squads</a><br>
        </div>
      </div>
    </div>
    <div class="derecha">
      <div class="results-container">
        <div class="result-category">
          <div class="encabezado">
            <p>Video Juegos</p>
          </div>
          <div class="contents">
            <div class="container mt-2 mb-2" *ngFor='let juego of videoJuegos' >
              <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                  <div class="d-flex flex-row">
                  </div>
                  <a [routerLink]="['/game', juego.nombre]">
                  <div class="row news-card p-3" style="background-color: #23314a;">
                    <div class="col-md-4">
                      <div class="feed-image game-image">
                        <img class="news-feed-image rounded img-fluid img-responsive"
                          src={{juego.imagen}}>
                      </div>
                    </div>
                    <div class="col">
                      <div class="news-feed-text">
                        <h5>{{juego.nombre}}</h5><span>Xbox One<br></span>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
