<html lang="en">

<body>
  <div class="full-container">
    <div class=izquierda>
      <div class="showing">
        <div id="titulo">
          <p>Resultados de busqueda para:</p>
        </div>
        <div id="search">
          <p>"{{search}}"</p>
        </div>
      </div>
      <div class="opciones">
        <div class="option-container">
          <a (click) = "mostrarUsuarios()">Usuarios</a><br>
        </div>
        <div class="option-container">
          <a (click) = "mostrarPublicaciones()">Publicaciones</a><br>
        </div>
        <div class="option-container">
          <a>Videojuegos</a><br>
        </div>
      </div>
    </div>
    <div class="derecha">
      <div class="results-container">
        <div class="result-category">
          <div class="encabezado">
            <p>Usuarios</p>
          </div>
          <div class="contents">
            <div class="container mt-2 mb-5">
              <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                  <div class="d-flex flex-row">
                  </div>
                  <div class="row news-card p-3 bg-white">
                    <div class="col-md-4">
                      <div class="feed-image">
                        <img class="news-feed-image rounded img-fluid img-responsive"
                          src="https://compass-ssl.xbox.com/assets/92/5d/925d1321-89fe-4537-9303-a64adaf27c07.jpg?n=Halo-MCC_GLP-Page-Hero-1084_1920x1040.jpg">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="news-feed-text">
                        <h5>StormyFiddle - Camilo Andrés</h5><span>PS4, Xbox One<br></span>
                        <h5>Latinoamerica Norte</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="result-category">
              <div class="encabezado">
                <p>Productos</p>
              </div>
              <div class="contents">
                <div class="container mt-2 mb-5">
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                      <div class="d-flex flex-row">
                      </div>
                      <div class="row news-card p-3 bg-white">
                        <div class="col-md-4">
                          <div class="feed-image">
                            <img class="news-feed-image rounded img-fluid img-responsive"
                              src="https://compass-ssl.xbox.com/assets/92/5d/925d1321-89fe-4537-9303-a64adaf27c07.jpg?n=Halo-MCC_GLP-Page-Hero-1084_1920x1040.jpg">
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="news-feed-text">
                            <h5>StormyFiddle - Camilo Andrés</h5><span>PS4, Xbox One<br></span>
                            <h5>Latinoamerica Norte</h5>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>