<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<div class="row">
  <div class="col">
    <div class="left">
      <form>
        <div class="form-group">
          <label class="col-sm-2">¿Cambiamos tu avatar?</label>
          <input type="file"
                 id="file"
                 (change)="handleFileInput($event.target.files)">
        </div>
        <div class="form-group">
          <label class="col-sm-2">Correo Electronico</label>
          <div class="col-sm-7">
            <input
              type="email"
              class="form-control solo"
              placeholder="name@example.com"
              name="user"
              required
              [(ngModel)]="userSend.correo"
            />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">GamerTag</label>
          <div class="col-sm-7">
            <input
              type="text"
              class="form-control solo"
              placeholder="Gamertag"
              name="gtag"
              required
              [(ngModel)]="userSend.nombre_usuario"
            />
          </div>
        </div>
        <div class = "input-group">
          <div class="form-group nombre">
            <label class="col-sm-2">Nombre</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Mario"
                name="name"
                required
                [(ngModel)]="userSend.nombres"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2">Apellido</label>
            <div class="col-sm-12">
              <input
                type="text"
                class="form-control"
                placeholder="Verde"
                name="apellido"
                required
                [(ngModel)]="userSend.apellidos"
              />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Continente</label>
          <div class="col-sm-7">
            <select class="form-control solo" id="continente" name="continente" [(ngModel)]="selectedRegion" required>
              <option disabled selected>Seleccione una region</option>
              <option value="op.value" *ngFor="let op of regions">{{op.label}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2">Conexión</label>
          <div class="col-sm-7">
            <input
              type="number"
              class="form-control solo"
              placeholder="Conexión"
              name="conexion"
              required
              [(ngModel)]="userSend.conexion"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col">
    <div class="right">
      <form>
        <div class="form-group">
          <label class="col-sm-2">Plataforma</label>
          <div class="col-sm-7" id="consoles">
            <div
              class="custom-control custom-checkbox"
              *ngFor="let consola of consolas"
            >
              <div class="checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="{{ consola }}"
                />
                <label class="custom-control-label" for="{{ consola }}">{{consola}}</label>
              </div>
            </div>
          </div>
        </div>
        <table class="list-group">
          <ul *ngFor="let juego of juegosEscogidos">
            <li class="list-group-item" color="blue">{{ juego }}</li>
          </ul>
        </table>
        <div class="form-group">
          <div class="col-auto">
            <button type="submit" class="btn" (click)="update()">
              Editar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
