<html lang="en">

<body>
  <div class="full-container">
    <div class=izquierda>
      <div class="showing">
        <div id="titulo">
          <p>Resultados de busqueda para:</p>
        </div>
        <div id="search">
          <p>"{{search}}"</p>
        </div>
      </div>
      <div class="opciones">
        <div class="option-container">
          <a>Usuarios</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarPublicaciones()">Publicaciones</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarVideoJuegos()">Videojuegos</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarClanes()">Clanes</a><br>
        </div>
        <div class="option-container">
          <a (click)="mostrarSquads()">Squads</a><br>
        </div>
      </div>
    </div>
    <div class="derecha">
      <div class="results-container">
        <div class="result-category">
          <div class="encabezado">
            <p>Usuarios</p>
          </div>
          <div class="contents">
            <div class="container mb-3" *ngFor='let user of usuarios'>
              <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                  <div class="d-flex flex-row">
                  </div>
                  <a [routerLink]="['/profile', user.correo]">
                  <div class="row news-card p-3" style="background-color: #23314a;">
                    <div class="col-md-4">
                      <div class="feed-image">
                        <img class="news-feed-image rounded img-fluid img-responsive"
                          src="https://compass-ssl.xbox.com/assets/92/5d/925d1321-89fe-4537-9303-a64adaf27c07.jpg?n=Halo-MCC_GLP-Page-Hero-1084_1920x1040.jpg">
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="news-feed-text">
                        <h5>{{user.nombre_usuario}} - {{user.nombres}}</h5><span *ngFor = 'let plataformaActual of user.plataformas'>{{plataformaActual}}<br></span>
                        <h5>{{user.region_id}}</h5>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
